@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

// fontes
$poppins: "Poppins", "sans-serif";

// cores
$gray-bg: #444444;
$purple: #543980;
$purple-light: #7523e0;
$font-white: #fff;
$font-gray: #797979;

// font weight
$bold: 700;
