@import "../../assets/sass/utils/_variables";

.open-sidebar {
  display: none;

  @media screen and (max-width: 768px) {
    position: absolute;
    display: block;
  }
}

.header {
  width: 100%;
  max-width: 300px;
  height: 100vh;
  background: $purple;
  z-index: 10;

  @media screen and (max-width: 768px) {
    position: fixed;
    left: -100%;
    transition: 850ms;
  }

  &.active {
    left: 0;
    transition: 350ms;
  }

  .close-sidebar {
    display: none;
    position: absolute;
    right: 0;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .header__container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 120px;
      height: auto;
      transition: 0.3s;

      &:hover {
        transform: scale(1.05);
        transition: 0.3s;
      }
    }

    .header__items {
      gap: 1.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      // align-items: center;
      justify-content: center;
      padding: 2rem 0 0 4.5rem;

      .header__links {
        gap: 1rem;
        display: flex;
        align-items: center;
        color: $font-white;
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.3s;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: aquamarine;
          transition: 0.3s;
          transform: translateY(-2px);
        }

        .icons {
          display: flex;
          align-items: center;
          font-size: 25px;
        }

        a {
          text-decoration: none;
          color: $font-white;

          &:hover {
            color: aquamarine;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
